<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
              {% load i18n %}
          <title>

            {{ LANGUAGE_CODE }}
            {% trans "Authors" %}
            {% get_current_language as LANGUAGE_CODE %}
        </title>

    </head>
    <body>
      {% load i18n %}
      {{ site_name }}
      {{ site_description }}
      <table border="1">
        <tr>
    {% for author in Authors %}
    <tr>
    <td>{% trans "Authors" %}</td>
  </tr>
    <tr>
    <td>{% trans "First name" %}:{{author.first_name}}</td>
  </tr>
  <tr>
    <td>{% trans "Last name" %}:{{author.last_name}}</td>
  </tr>
  <tr>
    <td>{% trans "Date of birth" %}:{{author.date_birth}}</td>
  </tr>
    {% endfor %}
  </tr>

  </table>

    </body>
</html>
