<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Yallib login</title>
  <link rel="stylesheet" href="style.css">
  <style>
  .any{
    width: 100%;
    height: 1600px;
    background: #cdeef5;
  }
  </style>

</head>
<body>
  <div class="any">

  <form action="/login/" method="POST" action="/login/">
      {% csrf_token %}
      <table>
        <tr><td><label for "username">Username:</label></td><td><input type="text" name="username" id="username"></td></tr>
          <tr><td><label for "password">Password:</label></td><td><input type="password" name="password" id="password"></td></tr>
        <tr><td></td><td><label for "button"></label><input class="button" type="submit" value="submit"></td></tr>
        {% if login_error %}
          <label class="error">{{login_error}}</label>
        {% endif %}
      </table>

    </form>
    {{ site_name }}

  </div>
  {{ site_description }}

</body>
</html>
